body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
  cursor: crosshair;
}
#container {
  display: flexbox;
  justify-content: center;
  cursor: crosshair;

}

.strike {
  text-decoration: line-through;
 
}